### Hidden files ###

.Rproj.user
.Rhistory
.RData
.Ruserdata

### Hidden folders ###

**00_textbooks/**
**00_additional_resources/**
**00_students/**
**00_tutor/**
**00_take_home_exercises/01_take_home_exercises_1/teaching_notes_THE_01.docx**
**00_take_home_exercises/02_take_home_exercises_2/teaching_notes_THE_02.docx**
**00_take_home_exercises/03_take_home_exercises_3/teaching_notes_THE_03.docx**
**01_session01/readings/**
**01_session01/slides_session01_files/**
**02_session02/readings/**
**02_session02/slides_session02_files/**
**02_session02/teaching_notes_session02.docx**
**03_session03/readings/**
**03_session03/slides_session03_files/**
**03_session03/teaching_notes_session03.docx**
**04_session04/readings/**
**04_session04/slides_session04_files/**
**04_session04/teaching_notes_session04.docx**
**05_session05/readings/**
**05_session05/slides_session05_files/**
**05_session05/teaching_notes_session05.docx**
**06_session06/readings/**
**06_session06/slides_session06_files/**
**06_session06/teaching_notes_session06.docx**
**07_session07/readings/**
**07_session07/slides_session07_files/**
**07_session07/teaching_notes_session07.docx**
**08_session08/readings/**
**08_session08/slides_session08_files/**
**08_session08/teaching_notes_session08.docx**
**09_session09/readings/**
**09_session09/slides_session09_files/**
**09_session09/teaching_notes_session09.docx**
**10_session10/readings/**
**10_session10/slides_session10_files/**
**10_session10/teaching_notes_session10.docx**
**11_session11/readings/**
**11_session11/slides_session11_files/**
**11_session11/teaching_notes_session11.docx**
**12_session12/readings/**
**12_session12/slides_session12_files/**
**12_session12/teaching_notes_session12.docx**
**13_session13/readings/**
**13_session13/slides_session13_files/**
**13_session13/teaching_notes_session13.docx**
**14_session14/readings/**
**14_session14/slides_session14_files/**
**14_session14/teaching_notes_session14.docx**
